
@{
    ViewBag.Title = "Habitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Habitaciones</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success btn-sm" type="button" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tabla" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Numero</th>
                                <th>Detalle</th>
                                <th>Precio</th>
                                <th>Categoria</th>
                                <th>Piso</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Numero</th>
                                <th>Detalle</th>
                                <th>Precio</th>
                                <th>Categoria</th>
                                <th>Piso</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="FormModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Habitacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <form id="formNivel">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtnumero">Numero:</label>
                                <input type="text" class="form-control required" id="txtnumero" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdetalle">Detalle:</label>
                                <input type="text" class="form-control required" id="txtdetalle" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtprecio">Precio:</label>
                                <input type="text" class="form-control required" id="txtprecio" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cbocategoria">Categoria:</label>
                                <select class="form-control" id="cbocategoria"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cbopiso">Piso:</label>
                                <select class="form-control" id="cbopiso"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cboEstado">Estado:</label>
                                <select id="cboEstado" class="form-control">
                                    <option value="1">Activo</option>
                                    <option value="0">No Activo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>
        var tabladata;

        $(document).ready(function () {
            jQuery.ajax({
                url: '@Url.Action("ListarCategoria", "Mantenimiento")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data.data, function (index, value) {
                        $("<option>").attr({ "value": value.IdCategoria }).text(value.Descripcion).appendTo("#cbocategoria");
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

            jQuery.ajax({
                url: '@Url.Action("ListarPiso", "Mantenimiento")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data.data, function (index, value) {
                        $("<option>").attr({ "value": value.IdPiso }).text(value.Descripcion).appendTo("#cbopiso");
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

            tabladata = $('#tabla').DataTable({
                responsive:true,
                "ajax": {
                    "url": '@Url.Action("ListarHabitacion", "Mantenimiento")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Numero" },
                    { "data": "Detalle" },
                    { "data": "Precio" },
                    {
                        "data": "oCategoria", render: function (data) {
                            return data.Descripcion
                        }
                    },
                    {
                        "data": "oPiso", render: function (data) {
                            return data.Descripcion
                        }
                    },
                    {
                        "data": "Estado", "render": function (data) {
                            if (data) {
                                return '<span class="badge badge-success p-2">Activo</span>'
                            } else {
                                return '<span class="badge badge-danger p-2">No Activo</span>'
                            }
                        }
                    },
                    {
                        "data": "IdHabitacion", "render": function (data, type, row, meta) {
            
                            return $("<button>").addClass("btn btn-primary btn-editar btn-sm").append(
                                $("<i>").addClass("fas fa-pen")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML
                            +
                            $("<button>").addClass("btn btn-danger btn-eliminar btn-sm ml-2").append(
                                $("<i>").addClass("fas fa-trash")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML;
            
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
            
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });
        });



        $(document).on('click', '.btn-editar', function (event) {
            var json = $(this).data("informacion")

            abrirModal(json)
        });

        function abrirModal(json) {
            $("#txtid").val(0);
            $("#txtnumero").val("");
            $("#txtdetalle").val("");
            $("#txtprecio").val("");
            $("#cbocategoria").val($("#cbocategoria option:first").val());
            $("#cbopiso").val($("#cbopiso option:first").val());
            $("#cboEstado").val(1);

            if (json != null) {

                $("#txtid").val(json.IdHabitacion);
                $("#txtnumero").val(json.Numero);
                $("#txtdetalle").val(json.Detalle);
                $("#txtprecio").val(json.Precio);
                $("#cbocategoria").val(json.oCategoria.IdCategoria);
                $("#cbopiso").val(json.oPiso.IdPiso);
                $("#cboEstado").val(json.Estado == true ? 1 : 0);
            }

            $('#FormModal').modal('show');
        }

        $(document).on('click', '.btn-eliminar', function (event) {
            var json = $(this).data("informacion")

            jQuery.ajax({
                url: '@Url.Action("EliminarHabitacion", "Mantenimiento")',
                type: "POST",
                data: JSON.stringify({ id: json.IdHabitacion}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.resultado) {
                        tabladata.ajax.reload();
                    } else {
                        alert("No se pudo eliminar")
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });
        });

        function Guardar() {
            var request = {
                objeto: {
                    IdHabitacion: $("#txtid").val(),
                    Numero: $("#txtnumero").val(),
                    Detalle: $("#txtdetalle").val(),
                    PrecioTexto: $("#txtprecio").val(),
                    oCategoria: { IdCategoria: $("#cbocategoria option:selected").val()} ,
                    oPiso: { IdPiso: $("#cbopiso option:selected").val() },
                    Estado: parseInt($("#cboEstado").val()) == 1 ? true : false
                }
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarHabitacion", "Mantenimiento")',
                type: "POST",
                data: JSON.stringify(request),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.resultado) {
                        tabladata.ajax.reload();
                        $('#FormModal').modal('hide');
                    } else {
                        alert("No se pudo guardar los cambios")
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

        }

    </script>

}
